body {
    background-image: url("texture.jpg");
    margin: 0;
    font-family: Esteban, Georgia, 'Times New Roman', serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-transform: none;
    color: #2A292B;
      }

h1 {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -3.5px;
    line-height: 50px;
    text-transform: none;
    color: #2A292B;
    
  }
  h2 {
    color: #2A292B;    
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    margin-top: 50px;
    
  }


  ul {
    list-style: none;
    text-align: center;
  }
 
  .hobbies li{
      float: left;
      width: 30.3333%;
      margin: 1.5%;
      border-top: 1px solid rgba(42, 41, 43, 0.15);
      padding: 15px 0;
  }

  .hobbies li:nth-child(1), .hobbies li:nth-child(2), .hobbies li:nth-child(3) {
    border: none;
  }
 
  .mainContainer {
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

  }
  .leftColumn{
      float: left;
      width: 250px;
      height:600px ;
  }
  .information{
      float: right;
      width: 500px;
  }
  
.socialMedia {
    margin-top: 20px;
    text-align: center;
}
.footer{
    background-color: #FFB50B;
    position: fixed;
    bottom:0;
    width: 100%;
    margin:0;
}
.navigation {
    text-align: right;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    padding-right: 10px;
    
}

